@{
    ViewData["Title"] = "Página Inicial";
}

<section id="main-slider">
    <div class="owl-carousel">

        <div class="item" style="background-image: url(images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>Você </span> faz a sua parte a <span> Prefeitura </span> investe Alto Paraíso <span> cresce</span></h2>
                                <p>Seu imposto aplicado em recursos que voltam para Você. </p>
                                <a class="btn btn-primary btn-lg" href="#">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

        <div class="item" style="background-image: url(images/slider/bg1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>Fórmula 1</span> da Amazônia a tradicional corrida de Jericos Motorizados</h2>
                                <p>Todo ano no aniversário do município de Alto Paraíso ocorre a tradicional Corrida Nacional de Jericos Motorizadados. </p>
                                <a class="btn btn-primary btn-lg" href="#">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->

<section id="portfolio">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Serviços</h2>
        <p class="text-center wow fadeInDown">Acesse os serviços orfericidos pela prefeitura</p>
        </div>

        <div class="portfolio-items">
            <div class="portfolio-item">
                <div class="portfolio-item-inner">
                    <a href="http://186.219.242.86:5659/transparencia" alt="Portal Transparênica">
                        <img class="img-responsive" src="images/servicos/card_transparencia.jpg" alt="">
                        <div class="portfolio-info">
                            <h3>Portal Transparência</h3>
                        </div>
                    </a>
                </div>
            </div><!--/.portfolio-item-->

            <div class="portfolio-item creative">
                <div class="portfolio-item-inner">
                    <a href="http://186.219.242.86:5660/transparencia/index.php?link=aplicacoes/esic/frmesic&nomeaplicacao=esic" alt="e-SIC Acesso à Informação">
                    <img class="img-responsive" src="images/servicos/card_esic.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>e-SIC Acesso à Informação</h3>
                    </div>
                    </a>
                </div>
            </div><!--/.portfolio-item-->

            
            <div class="portfolio-item creative">
                <div class="portfolio-item-inner">
                    <a href="http://186.219.242.86:5660/issweb" alt="Nota Fiscal de Serviço">
                    <img class="img-responsive" src="images/servicos/card_nfse.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Nota Fiscal de Serviço</h3>
                    </div>
                    </a>
                </div>
            </div><!--/.portfolio-item-->
            
            <div class="portfolio-item creative">
                <div class="portfolio-item-inner">
                    <a href="http://192.168.1.253:5660/servicosweb/" alt="Tributos Online">
                    <img class="img-responsive" src="images/servicos/card_tributos.jpg" alt="">
                    <div class="portfolio-info">
                        <h3>Tributos Online</h3>
                    </div>
                    </a>
                </div>
            </div><!--/.portfolio-item-->
            
        </div>
    </div><!--/.container-->
</section><!--/#portfolio-->

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span>FORA</span> DA ESCOLA<br /><span>NÃO PODE</span></h2>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Cada criança e adolescente tem o direito de aprender <br /></p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Saiba Mias</a></p>
            <img class="img-responsive wow fadeIn" src="images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
        </div>
    </div>
</section>