@{
    ViewData["Title"] = "Página Inicial";
}

<section id="main-slider">
    <div class="owl-carousel">

        <div class="item" style="background-image: url(images/slider/bg2.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>Você </span> faz a sua parte a <span> Prefeitura </span> investe Alto Paraíso <span> cresce</span></h2>
                                <p>Seu imposto aplicado em recursos que voltam para Você. </p>
                                <a class="btn btn-primary btn-lg" href="#">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

        <div class="item" style="background-image: url(images/slider/bg1.jpg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h2><span>Fórmula 1</span> da Amazônia a tradicional corrida de Jericos Motorizados</h2>
                                <p>Todo ano no aniversário do município de Alto Paraíso ocorre a tradicional Corrida Nacional de Jericos Motorizadados. </p>
                                <a class="btn btn-primary btn-lg" href="#">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.item-->

    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->




<section id="blog">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Serviços</h2>
            <p class="text-center wow fadeInDown">Acesse os serviços orfericidos pela prefeitura</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img alt="100%x200" src="~/images/servicos/transparencia.png" >
                    <div class="caption">
                        <h3>Portal Transparência</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egesmetus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p class="text-center">
                            <a href="#" class="btn btn-primary" role="button">Acessar</a>
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms"><span>FORA</span> DA ESCOLA<br /><span>NÃO PODE</span></h2>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Cada criança e adolescente tem o direito de aprender <br /></p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="#">Saiba Mias</a></p>
            <img class="img-responsive wow fadeIn" src="images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
        </div>
    </div>
</section>