
@{
    ViewData["Title"] = "Equipe de Governo";
}

<div class="container">


    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Library</a></li>
        <li class="active">Data</li>
    </ol>
</div>
<section id="meet-team">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Equipe de Governo</h2>
            <p class="text-center wow fadeInDown">Conheça a equipe de governo do munícipio de Alto Paraíso - RO <br />que tem como finalidade regrar e organizar o município.</p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img class="img-responsive" src="~/images/team/01.gif" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Helma Santana Amorin</h3>
                        <span>Prefeita</span>
                    </div>
                    <p>Av. Jorge Teixeira, 3031 - Centro, CEP: 76.862-000 - Alto Paraíso</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img class="img-responsive" src="~/images/team/02.gif" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Valmir dos Santos</h3>
                        <span>Vice-Prefeito / Secretário Municipal de Meio Ambiente</span>
                    </div>
                    <p>Av. Jorge Teixeira, 3031 - Centro, CEP: 76.862-000 - Alto Paraíso</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img class="img-responsive" src="~/images/team/02.gif" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Fábio Pereira da Silva</h3>
                        <span>Secretário Municipal de Saúde</span>
                    </div>
                    <p>Av. Jorge Teixeira, 3031 - Centro, CEP: 76.862-000 - Alto Paraíso</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="team-member wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                    <div class="team-img">
                        <img class="img-responsive" src="~/images/team/01.gif" alt="">
                    </div>
                    <div class="team-info">
                        <h3>Débora Lúcia Raposo da Silva</h3>
                        <span>Secretária Municipal de Educação</span>
                    </div>
                    <p>Av. Jorge Teixeira, 3031 - Centro, CEP: 76.862-000 - Alto Paraíso</p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        
        </div>
        <div class="divider"></div>
        
    </div>
</section><!--/#meet-team-->
